
@{
    ViewData["Title"] = "Invoice";
}
<style>
  
    span {
        font-weight:bold;
    }

    html, body {
        margin: 0;
        padding: 0;
    }


    #page {
        border-collapse: collapse;
    }

        /* And this to your table's `td` elements. */
        #page td {
            padding-top: 1px;
            margin: 0;
            font-size: 13px;
        }

   </style>

<div class="row">
    <div class="col-md-10">
        <h1 class="display-4">Invoice</h1>
    </div>
    <div class="col-md-2">
        <input type="button" class="btn btn-info mt-4 w-100" data-toggle="modal" data-target="#createInvoice" id="addInvoiceBtn" value="Add Invoice" />
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <input type="text" class="form-control" id="searchField" placeholder="Invoice No" />
    </div>
    <div class="col-md-4">
        <input type="text" class="form-control" id="searchFieldAgent" placeholder="Agent Name" />
    </div>
    <div class="col-md-4">
        <input type="text" class="form-control" id="searchFieldClient" placeholder="Client name" />
    </div>

</div>
<div style="height: 100%; box-sizing: border-box; padding-top:20px;">
    <div id="invoiceGrid" style="width: 100%; height:450px" class="ag-theme-balham"></div>
</div>

@*Create Invoice Modal*@
<div class="modal fade" id="createInvoice" tabindex="-1" role="dialog" aria-labelledby="invoiceTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document" style="max-width:80%;border:double;" !important;>
        <form id="invoiceForm">
            <div class="modal-content" style="background: linear-gradient(225deg, rgba(255,255,255,1) 0%, rgba(232,227,227,1) 100%);">
                <div class="modal-header bg-info">
                    <h5 class="modal-title text-light">Add Invoice</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span class="text-light" aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="id" />
                    <div class="form-row">
                        <div class="col-md-2">
                            <label for="date"> Date <span class="text-danger">*</span></label>
                            <output type="text" class="form-control" name="date" id="date" />
                        </div>
                        <div class="col-md-4">
                            <label for="dr"> Dr. <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" name="dr" id="dr" />
                        </div>
                        <div class="col-md-2">
                            <label for="refrenceNo"> Reference No. <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" name="referenceNo" id="referenceNo" />
                        </div>
                        <div class="col-md-3">
                            <label for="agentName"> Agent Name <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" name="agentName" id="agentName" />
                        </div>
                        <div class="col-md-1">
                            <label for="currency"> Currency <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" name="currency" id="currency" />
                        </div>
                    </div>
                    <br />
                    <div class="form-row">
                        <div class="col-md-3">
                            <label for="clientName"> Client Name <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" name="clientName" id="clientName" />
                        </div>
                        <div class="col-md-3">
                            <label for="pax"> PAX <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" name="pax" id="pax" />
                        </div>
                        <div class="col-md-3">
                            <label for="guide"> Guide </label>
                            <input type="text" class="form-control" name="guide" id="guide" />
                        </div>
                        <div class="col-md-3">
                            <label for="vehicle"> Vehicle </label>
                            <input type="text" class="form-control" name="vehicle" id="vehicle" />
                        </div>
                    </div>
                    <hr />
                    <div class="form-row">
                        <div class="form-row col-md-9" style="background: linear-gradient(225deg, rgba(255,255,255,1) 0%, rgba(194,247,215,1) 100%);;border:groove">
                            <div class="col-md-8 form-group">
                                <label for="particulars"> Particulars <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" name="particulars" id="particulars" />
                            </div>
                            <div class="col-md-2 form-group">
                                <label for="amount"> Amount <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" name="particularAmount" id="particularAmount" />
                            </div>
                            <div class="col-md-2 form-group">
                                <label for="addProduct">Add Particular</label>
                                <button type="button" class="btn btn-outline-success" id="addProduct">Add Particular</button>
                            </div>
                            <hr />
                        </div>
                        <div class="col-md-3 col d-flex align-items-center justify-content-center" style="background-color:cornflowerblue" ;>
                            <img src="~/img/logo.png"/>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-9">
                            <div style="height: 100%; box-sizing: border-box; padding-top:10px;">
                                <div id="itemListGrid" style="width:100%; height:300px" class="ag-theme-balham"></div>
                            </div>
                        </div>
                        <div class="col-md-2 m-4">
                            <div class="form-group">
                                <label for="amount">Total Due <span class="text-danger">*</span></label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text currency"></span>
                                    </div>
                                    <output type="number" class="form-control" name="totalDue" id="totalDue" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="discount">Discount</label>
                                <input type="number" class="form-control" name="discount" id="discount" />
                            </div>
                            <div class="form-group">
                                <label for="netAmount">Net Amount<span class="text-danger">*</span></label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text currency"></span>
                                    </div>
                                    <output type="number" class="form-control" name="netAmount" id="netAmount" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="btnSave">Save</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>

            </div>
        </form>
    </div>
</div>

@*Create Invoice Detail Modal*@
<div class="modal fade" id="invoiceDetailModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" style="background: linear-gradient(225deg, rgba(255,255,255,1) 0%, rgba(232,227,227,1) 100%);">
            <div class="modal-header bg-info">
                <h5 class="modal-title text-light">Invoice Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="text-light" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div style="height: 100%; box-sizing: border-box; padding-top:20px;">
                    <div id="invoiceDetailsGrid" style="width: 100%; height:450px" class="ag-theme-balham"></div>
                </div>
            </div>
        </div>
    </div>
</div>

@*View Invoice Modal*@
<div class="modal fade" id="viewInvoice" tabindex="-1" role="dialog" aria-labelledby="invoiceTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document" style="max-width:80%;border:double;" !important;>
        <div class="modal-content">
            <div class="modal-header bg-info position-sticky">
                <h5 class="modal-title text-light">Invoice</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="text-light" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="invoiceBody">
                <div class="row">
                    <div class="col-md-8">
                        <img src="~/img/logo2.jpg" style="max-width:100%" />
                    </div>
                    <div class="col-md-4 text-monospace">                      
                        <h6>GPO Box: 9484</h6>
                        <h6>Hotel Marg, Lazimpat - 2</h6>
                        <h6>Kathmandu, Nepal</h6>
                        <h6>Tel: (977) 01 4444843/44/45</h6>
                        <h6>Fax: (977) 01 4415330</h6>
                        <h6>Email: mail@peace-intl.com.np</h6>
                        <h6>&emsp;&emsp;&emsp;peaceintlmail@gmail.com</h6>
                        <h6>Web: peace-intl.com </h6>
                        <h6>PAN: 302243385 </h6>
                    </div>
                </div>
                <br />
                <div id="receiptTemplate">
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <h6>E. & O. E.</h6>
                        <h6>Enclosures: </h6>
                        <h6>Prepared By: </h6>
                        <h6>Checked By:</h6>                        
                    </div>
                    <div class="col-md-2">
                        <br />
                        <h6 class="border-top border-dark">Authorized Signature: </h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h6>
                            1. If the Payment is to be made through Bank, transfer kindly made it directly either at our <br>A/C No. 01 04 21 7500056 at Nabil Bank, Kantipath, Kathmandu under advise to us.
                        </h6>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-danger" id="printInvoice">Print</button>
        </div>
    </div>
</div>


@section Scripts{

    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/invoice.js"></script>
    <script id="entry-template" type="text/x-handlebars-template">

        <div class="row text-monospace">
            <div class="col-md-8">
                <h6><span>Dr:</span>&emsp;{{invoice.dr}}</h6>
                <h6><span>File Code No:</span>&emsp;{{invoice.fileCodeNo}}</h6>
                <h6><span>Client Name:</span>&emsp;{{invoice.clientName}} X {{invoice.pax}}</h6>
                <h6><span>Agent name:</span>&emsp;{{invoice.agentName}}</h6>
                @*<h6><span>PAX:</span>&emsp;{{invoice.pax}}</h6>*@
            </div>
            <div class="col-md-4">
                <h6><span>Date:</span>&emsp;{{splitDate invoice.createdDate}}</h6>
                <h6><span>Invoice no:</span>&emsp;{{invoice.invoiceNo}}</h6>
                <h6><span>Ref no:</span>&emsp;{{invoice.referenceNo}}</h6>                
                <h6><span>Currency:</span>&emsp;{{invoice.currency}}</h6>
            </div>
        </div>
        <br />
        <div class="row">
            <table class="table table-borderless ml-2 mr-2" id="page">
                <thead class="text-center thead-light">
                    <tr>
                        <th width="10%">S.NO</th>
                        <th width="70%">PARTICULARS</th>
                        <th width="20%">Amount</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each invoiceDetail}}
                    <tr>

                        <td height="40">{{inc @@index}}</td>
                        <td height="40">{{this.particulars}}</td>
                        <td height="40">
                            {{this.amount}}
                        </td>
                    </tr>
                    {{/each}}
                    {{#for invoiceDetail.length 9 1}}
                    <tr>

                        <td height="40"></td>
                        <td height="40"></td>
                        <td height="40"></td>
                    </tr>
                    {{/for}}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2" align="right" class="font-weight-bold">Total Due</td>
                        <td>{{invoice.totalDue}}</td>
                    </tr>
                    <tr>
                        <td colspan="2" align="right" class="font-weight-bold">Discount</td>
                        <td>{{invoice.discount}}</td>
                    </tr>
                    <tr>
                        <td colspan="2" align="right" class="font-weight-bold">Net Amount</td>
                        <td>{{invoice.netAmount}} /-</td>
                    </tr>
                    <tr>
                        <td colspan="3"><span>Total Due:</span> {{inWords invoice.netAmount}}</td>
                    </tr>
                </tfoot>
            </table>
            <br />            
        </div>
    </script>
}




